# UCI configuration for xxk-proxy
# Edit /etc/config/xxk-proxy to configure

config xxk-proxy 'global'
    option enabled '1'
    option port '5858'
    option log_enabled '1'
    option log_file '/var/log/proxy/proxy.log'
    option log_maxsize '10'
    option log_maxbackups '3'
    option log_maxage '28'
    option log_compress '1'
    option reload '30'